<a href="https://colab.research.google.com/github/AliceAii/Education-Data-Mining/blob/main/EDM_BA%20Student%20On-task%20Behavior%20Prediction%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1 build a decision tree on the entire data set. What is kappa?**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('ba1-in.csv')

In [ ]:
from sklearn import tree
from sklearn.metrics import cohen_kappa_score

In [ ]:
data1 = pd.get_dummies(df, columns=['SCHOOL', 'Class', 'CODER', 'Activity'])

In [ ]:
data1

,UNIQUEID,GRADE,STUDENTID,Gender,OBSNUM,totalobs-forsession,ONTASK,TRANSITIONS,NumACTIVITIES,FORMATchanges,...,Class_T9U,Class_T9V,CODER_Y,CODER_Z,Activity_Dancing,Activity_Individual,Activity_Smallgroup,Activity_Testing,Activity_Wholecarpet,Activity_Wholedesks
0,14400,0,600865,0,1,0,Y,3,4,1,...,0,0,0,1,0,0,0,0,1,0
1,14401,0,596466,0,1,1,Y,3,4,1,...,0,0,0,1,0,0,0,0,1,0
2,14402,0,616590,0,1,2,Y,3,4,1,...,0,0,0,1,0,0,0,0,1,0
3,14403,0,734358,1,1,3,Y,3,4,1,...,0,0,0,1,0,0,0,0,1,0
4,14404,0,826308,1,1,4,Y,3,4,1,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27726,42126,4,979370,0,17,343,Y,4,5,1,...,0,0,0,1,0,0,0,0,0,1
27727,42127,4,796316,1,16,344,Y,4,5,1,...,0,0,0,1,0,0,0,0,0,1
27728,42128,4,890896,1,16,345,Y,4,5,1,...,0,0,0,1,0,0,0,0,0,1
27729,42129,4,506875,0,17,346,Y,4,5,1,...,0,0,0,1,0,0,0,0,0,1
27730,42130,4,477663,0,17,347,N,4,5,1,...,0,0,0,1,0,0,0,0,0,1

In [ ]:
y = data1['ONTASK']

In [ ]:
X = data1.drop(['ONTASK'], axis=1)

In [ ]:
clf = tree.DecisionTreeClassifier(min_samples_split=10)
clf = clf.fit(X, y)

In [ ]:
y_predict = clf.predict(X)

In [ ]:
cohen_kappa_score( y_predict, y )

0.7290292370184316

**Q2 what is kappa if you build model excluding student?**

In [ ]:
x2 = data1.drop(['ONTASK','STUDENTID'], axis=1)

In [ ]:
clf = tree.DecisionTreeClassifier(min_samples_split=10)
clf = clf.fit(x2, y)

In [ ]:
y_predict = clf.predict(x2)

In [ ]:
cohen_kappa_score( y_predict, y )

0.71654298304154

**Q 3 Some other features in the data set may make your model overly specific to the current data set. Which data features would not apply outside of the population sampled in the current data set?**

School; Class; Coder; UNIQUEID

**Q 4 what is the non-cross-validated kappa, if you build the decision tree model (use the same operator), excluding student and the variables from question 3?**

In [ ]:
data2 = pd.get_dummies(df, columns=['Activity'])

In [ ]:
x3 = data2.drop(['ONTASK','SCHOOL', 'Class', 'CODER','UNIQUEID','STUDENTID'], axis=1)

In [ ]:
y = data2['ONTASK']

In [ ]:
clf = tree.DecisionTreeClassifier(min_samples_split=10)
clf = clf.fit(x3, y)

In [ ]:
y_predict = clf.predict(x3)

In [ ]:
cohen_kappa_score( y_predict, y )

0.7037709633040681

**Q5 What is the non-cross-validated kappa for the same set of variables you used for Question 4 if you use Naive Bayes instead of CART?**

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
gnb = GaussianNB()
gnb.fit(x3, y)

GaussianNB()

In [ ]:
predictions = gnb.predict(x3)

In [ ]:
cohen_kappa_score(predictions, y)

0.07280735686960182

**Q6 What is the non-cross validated kappa for the same set of variables you used for Question 4 if you use extreme gradient boosting instead of CART?**

In [ ]:
from xgboost import XGBClassifier

In [ ]:
XGB = XGBClassifier(learning_rate=0.5, n_estimators=200, random_state=5)
XGB.fit(x3, y)

XGBClassifier(learning_rate=0.5, n_estimators=200, random_state=5)

In [ ]:
predictions = XGB.predict(x3)

In [ ]:
cohen_kappa_score(predictions, y)

0.21943186190868447

**Q 7 What is the kappa, if you delete School, Class, Coder, UNIQUEID, and STUDENTID, use CART, and conduct 10-fold student-level batch cross-validation using the basic decision tree classifier?**

In [ ]:
data2 = pd.get_dummies(df, columns=['Activity'])

In [ ]:
x3 = data2.drop(['ONTASK', 'SCHOOL', 'Class', 'CODER','UNIQUEID','STUDENTID'], axis=1)
y = data2['ONTASK']

In [ ]:
from sklearn.model_selection import GroupKFold

In [ ]:
group_dict = {}
groups = np.array([])

In [ ]:
for index, row in data1.iterrows():
    student_id = row['STUDENTID']
    if student_id not in group_dict:
        group_dict[student_id] = index
    groups = np.append(groups, group_dict[student_id])

In [ ]:
groups

array([0.0000e+00, 1.0000e+00, 2.0000e+00, ..., 2.7395e+04, 7.6110e+03,
       4.7610e+03])

In [ ]:
gkf = GroupKFold(n_splits=10)

In [ ]:
kappa_values = list()

for train_index, test_index in gkf.split(x3, y, groups=groups):
    x3_train = x3.iloc[train_index]
    x3_test = x3.iloc[test_index]
    y_train = y[train_index]
    y_test = y[test_index]
    clf = tree.DecisionTreeClassifier(min_samples_split=10)
    clf.fit(x3_train, y_train)
    predictions = clf.predict(x3_test)
    kappa = cohen_kappa_score(y_test, predictions)
    kappa_values.append(kappa)
kappa_values

[0.10525036198862003,
 0.06330859012790258,
 0.08622415638735625,
 0.11500925399466055,
 0.11990563154602607,
 0.14844861482644467,
 0.07109172787200324,
 0.11471526195899773,
 0.11744501125853923,
 0.08528348120008211]

In [ ]:
print('Mean:',np.mean(kappa_values))

Mean: 0.10104878221183386

**Q8 What is the kappa, for the same set of variables you used for question 4, if you use Naive Bayes, and conduct 10-fold student-level batch cross-validation?**

In [ ]:
data2 = pd.get_dummies(df, columns=['Activity'])
x3 = data2.drop(['ONTASK', 'SCHOOL', 'Class', 'CODER','UNIQUEID','STUDENTID'], axis=1)
y = data2['ONTASK']

In [ ]:
group_dict = {}
groups = np.array([])

In [ ]:
for index, row in data1.iterrows():
    student_id = row['STUDENTID']
    if student_id not in group_dict:
        group_dict[student_id] = index
    groups = np.append(groups, group_dict[student_id])

In [ ]:
gkf = GroupKFold(n_splits=10)

In [ ]:
kappa_values = list()

for train_index, test_index in gkf.split(x3, y, groups=groups):
    x3_train = x3.iloc[train_index]
    x3_test = x3.iloc[test_index]
    y_train = y[train_index]
    y_test = y[test_index]
    gnb = GaussianNB()
    gnb.fit(x3_train, y_train.ravel())
    predictions = gnb.predict(x3_test)
    kappa = cohen_kappa_score(y_test, predictions)
    kappa_values.append(kappa)
kappa_values

[0.024748638626596597,
 0.09535154892495845,
 0.030661741059549774,
 0.08747049658493666,
 0.04116513229724095,
 0.07790501784926396,
 0.055647959860306906,
 0.05917452264919698,
 0.03467028811026751,
 0.08402167428712604]

In [ ]:
print('Mean:',np.mean(kappa_values))

Mean: 0.05908170202494438

**Q 9 What is the kappa, for the same set of variables you used for question 4, if you use Extreme Gradient Boosting, and conduct 10-fold student-level batch cross-validation?**

In [ ]:
data2 = pd.get_dummies(df, columns=['Activity'])
x3 = data2.drop(['ONTASK', 'SCHOOL', 'Class', 'CODER','UNIQUEID','STUDENTID'], axis=1)
y = data2['ONTASK']

group_dict = {}
groups = np.array([])

for index, row in data1.iterrows():
    student_id = row['STUDENTID']
    if student_id not in group_dict:
        group_dict[student_id] = index
    groups = np.append(groups, group_dict[student_id])

gkf = GroupKFold(n_splits=10)

In [ ]:
kappa_values = list()

for train_index, test_index in gkf.split(x3, y, groups=groups):
    x3_train = x3.iloc[train_index]
    x3_test = x3.iloc[test_index]
    y_train = y[train_index]
    y_test = y[test_index]
    xgb = XGBClassifier(learning_rate=0.5, n_estimators=200, random_state=5)
    xgb.fit(x3_train, y_train)
    predictions = xgb.predict(x3_test)
    kappa = cohen_kappa_score(y_test, predictions)
    kappa_values.append(kappa)
kappa_values

[0.05027062706270635,
 0.0598938808134345,
 0.07441585171664555,
 0.08548311592127045,
 0.12377205925509371,
 0.1487899160569972,
 0.10462757249981414,
 0.09787314542064163,
 0.10016315892089367,
 0.1252807023483078]

In [ ]:
print('Mean:',np.mean(kappa_values))

Mean: 0.0970570030015805